@using GuDong.Model.GuDong;

@model  GuDong.Model.GuDong.ModuleList

    @{

        ViewBag.Title = "ModuleAdd";
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }


    <div class="me-content-box ">
        <div class="me-content-box-header">
            <span>模块信息数据列表添加</span>

            <div class="clearfix"></div>
        </div>
        <div class="me-content-box-content">

            @using (Html.BeginForm("ModuleAdd", "ModuleEdit"))
            {
                <div class="field-item">
                  <label>主模块：</label>
                  @Html.DropDownList("drpmodule", ViewData["MainModule"] as System.Web.Mvc.SelectList, new { @class = "input-text small-input" })
                        <span class="color-red padding-top-3">*</span>
                      <span id="icoModule" class="margin-left-1em"></span>
                </div>
                
                
                <div class="field-item">
                    <label>模块名称：</label>
                    @Html.TextBoxFor(model => model.ModuleName, new { @class = "input-text small-input", maxlength = "50" })
                    <span class="color-red padding-top-3">*</span>
                    <span id="icoName" class="margin-left-1em"></span>
                </div>

                <div class="field-item">
                    <label>控制器：</label>
                    @Html.TextBoxFor(model => model.Controller, new { @class = "input-text small-input", maxlength = "50" })
                    <span class="color-red padding-top-3">*</span>
                    <span id="icoName" class="margin-left-1em"></span>
                </div>

                <div class="field-item">
                    <label>Action：</label>
                    @Html.TextBoxFor(model => model.Action, new { @class = "input-text small-input", maxlength = "50" })
                    <span class="color-red padding-top-3">*</span>
                    <span id="icoName" class="margin-left-1em"></span>
                </div>

                <div class="field-item">
                    <label>编辑控制器：</label>
                    @Html.TextBoxFor(model => model.EditController, new { @class = "input-text small-input", maxlength = "50" })
                    <span class="color-red padding-top-3">*</span>
                    <span id="icoName" class="margin-left-1em"></span>
                </div>

                <div class="field-item">
                    <label>编辑Action：</label>
                    @Html.TextBoxFor(model => model.EditAction, new { @class = "input-text small-input", maxlength = "50" })
                    <span class="color-red padding-top-3">*</span>
                    <span id="icoName" class="margin-left-1em"></span>
                </div>

                <div class="field-item">
                    <label> &nbsp;</label><input type="submit" value="提交" class="btn-sub-link" style="width: 150px;  " />
                </div>

            }


        </div>
    </div>





