@using GuDong.Model.GuDong;
@using GuDong.Enum.Banner;

@model  GuDong.Model.GuDong.Banner

@{

    ViewBag.Title = "BannerListAdd";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="me-content-box ">
    <div class="me-content-box-header">
        <span>广告信息数据列表添加</span>

        <div class="clearfix"></div>
    </div>
    <div class="me-content-box-content">

        @using (Html.BeginForm("BannerEditListAdd", "Banner"))
        {
            <div class="field-item">
                <label>类型：</label>
                @Html.DropDownListFor(model => model.Type, ViewData["BannerType"] as System.Web.Mvc.SelectList, new { @class = "input-text small-input" })
                <span class="color-red padding-top-3">*</span>
                <span id="icoModule" class="margin-left-1em"></span>
            </div>
            
             <div class="field-item">
                 <label>广告标题：</label>
                @Html.TextBoxFor(model => model.Title, new { @class = "input-text small-input", maxlength = "50" })
                <span class="color-red padding-top-3">*</span>
                <span id="icoName" class="margin-left-1em"></span>
            </div>
                    
            <div class="field-item">
                <label>链接地址：</label>
                @Html.TextBoxFor(model => model.LinkUrl, new { @class = "input-text small-input", maxlength = "50" })
                <span class="color-red padding-top-3">*</span>
                <span id="icoName" class="margin-left-1em"></span>
            </div>

            <div class="field-item">
                <label>图片地址：</label>
                @Html.TextBoxFor(model => model.Image, new { @class = "input-text small-input", maxlength = "50" })
                <span class="color-red padding-top-3">*</span>
                <span id="icoName" class="margin-left-1em"></span>
            </div>

            <div class="field-item">
                <label>序号：</label>
                @Html.TextBoxFor(model => model.Sort, new { @class = "input-text small-input", maxlength = "50" })
                <span class="color-red padding-top-3">*</span>
                <span id="icoName" class="margin-left-1em"></span>
            </div>
                               
            <div class="field-item">
                <label> &nbsp;</label><input type="submit" value="提交" class="btn-sub-link" style="width: 150px;  " />
            </div>

        }

    </div>
</div>





